# Useful pieces scripts

## 0. Python basics

In [37]:
# coding standard

## 1. About path

In [38]:
# Import necessary libraries
import os
import sys
import glob

In [39]:
# To get the cruuent working path
current_path = os.getcwd()
print('Current directory (folder): ', current_path)

# To get the higher level working directory
parent_path = os.path.abspath(os.path.dirname(current_path))
print('Parent path (folder): ',parent_path)

# To get the 2 level higher than current working directory
grandparent_path = os.path.abspath(os.path.dirname(os.path.dirname(current_path)))
print('Grandparent pathd (folder): ', grandparent_path)

# To get the path of another folder in the same working diretory
# Only need the name of the path (folder), no needs of \\ // 
file_path = os.path.join(current_path, 'Files') 
print('File path (folder): ', file_path)

Current directory (folder):  C:\Users\907932\Documents\GitHub
Parent path (folder):  C:\Users\907932\Documents
Grandparent pathd (folder):  C:\Users\907932
File path (folder):  C:\Users\907932\Documents\GitHub\Files

In [40]:
# To change working diretory
print('Current path (fold): ', current_path)
os.chdir(parent_path)
print('New working directory (folder): ', os.getcwd())

Current path (fold):  C:\Users\907932\Documents\GitHub
New working directory (folder):  C:\Users\907932\Documents

In [41]:
# to get all the files in current working folder
file_list = glob.glob(''.join([current_path, r'\*.*']))
for file in file_list:
    print(file)

C:\Users\907932\Documents\GitHub\Python.xlsx

## 2. About reading files

In [1]:
# Import necessary libraries
import pandas
import numpy
import xml

### 2.0 About format

In [5]:
a = float(2)

In [9]:
# format to an int
int(a)

2

In [17]:
# format with more digits
b = ('%.4f' %a) # with more digits
b

'2.0000'

In [21]:
# formatted output
c = 'float {} = int {}'.format(('%.4f' %a), ('%d' %a))
c

'float 2.0000 = int 2'

In [23]:
# formatted output
d = f'float {b} = int {a}' # simple format
d

'float 2.0000 = int 2.0'

### 2.1 txt file

In [43]:
# file path
File_path = ''.join([file_path, r'\txt_sparse_template.txt'])
# read files
with open(File_path, 'r') as file_read:
    all = file_read.read()
    file_read.close()
    
with open(File_path, 'r') as file_read:
    # the command follows the curser
    the_first_line = file_read.readline()
    the_second_line = file_read.readline()
    all_lines = file_read.readlines()
    file_read.close()

    print('All content: ',all[:100])
    print('The first line: ', the_first_line)
    print('The second line: ', the_second_line)
    print('The first line in all the rest lines: ', all_lines[0])

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\907932\\Documents\\GitHub\\Files\\txt_sparse_template.txt'

### 2.2 csv file

### 2.3 Excel sheet

### 2.4 xml file

### 2.5 json file

## 3. About making plots

In [44]:
# Import necessary libraries
import matplotlib.pyplot as plt

## 4. About records

In [54]:
# Import necessary libraries
import logging
import time

# the records are always in 5 levels
# Error
# Warning
# Info
# Debug
# Trace

# Create a log file with contents of different levels
strtime = time.strftime("%Y-%m-%d", time.localtime())
# strftime stands for the strformatting 
logging_file_name = ''.join([file_path, r'\temp_logging.log'])
# Configure the content level as trace
logging.basicConfig(filename = logging_file_name, level = logging.DEBUG)
# logging.info('This is trace level contents\n')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\907932\\Documents\\GitHub\\Files\\temp_logging.log'

In [47]:
''.join([file_path, r'\temp_logging.k=log'])

'C:\\Users\\907932\\Documents\\GitHub\\Files\\temp_logging.k=log'

## 5.Tricks of using Pandas

In [13]:
# Import necessary librairies
import pandas as pd
import numpy as np

### Case 1

In [19]:
# read csv file with different separators
# To get the path of another folder in the same working diretory
# Only need the name of the path (folder), no needs of \\ // 
incidents_path = ''.join([file_path, r'\Incidents.txt'])
sea_path  = ''.join([file_path, r'\SeaP3747.txt'])
swell_path = ''.join([file_path, r'\SwellP3747.txt'])

# incident txt file is separated by ';'
incident_df = pd.read_table(incidents_path, delimiter=';')
time_df = incident_df['time'] # get the time column
# the str format of time is 'DD-MM-YYYY-HH'
expand_time = time_df.str.split('-', expand = True) # split the time into 4 columns
# first astype(int) then astype(str) to remove the 0 in 01
day_df = expand_time[0].astype(int)
day_df = day_df.astype(str) # remove the 0 in double digits integer
month_df = expand_time[1].astype(int)
month_df = month_df.astype(str)
year_df = expand_time[2]
hour_df = expand_time[3].astype(int)
div, rem = divmod(hour_df, 3) # calculate the mods and remains, to adapt the hour to a number as 3*n
hour_df = hour_df - rem
hour_df = hour_df.astype(str)

# join the time in specified format
format_time_series = []
# format the time in right format
for yyyy, MM, DD, HH in zip(year_df, month_df, day_df, hour_df):
    formated_time = ''.join([yyyy, '-', MM, '-', DD, '-', HH])
    format_time_series.append(formated_time)
print(format_time_series[:10])

['2015-4-9-0', '2015-4-23-9', '2015-6-16-6', '2015-7-12-15', '2015-8-16-0', '2015-9-6-15', '2015-11-14-15', '2015-11-29-6', '2016-1-7-18', '2016-6-12-6']

c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: read_table is deprecated, use read_csv instead.
  if __name__ == '__main__':

In [23]:
sea_df = pd.read_table(sea_path, index_col = 0)
#  get the columns of time
time_sea_str_df = sea_df[['YYYY', 'MM', 'DD', 'HH']].astype(str)
# join the time in special format
time_sea_df_combined= time_sea_str_df.apply(lambda x: '-'.join(x), axis = 1 )
sea_df.insert(0, 'Formatted_time', time_sea_df_combined)
print(sea_df['Formatted_time'][:10])

c:\users\907932\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

Index
105129     2015-1-1-0
105130     2015-1-1-3
105131     2015-1-1-6
105132     2015-1-1-9
105133    2015-1-1-12
105134    2015-1-1-15
105135    2015-1-1-18
105136    2015-1-1-21
105137     2015-1-2-0
105138     2015-1-2-3
Name: Formatted_time, dtype: object

In [1]:
# to correlate the incidents with wave data, with foreign key, time
i = 0
index_list = []
for time in format_time_series:
    try:
        index = sea_df[sea_df['Formatted_time']==time].index
        index_list.append(index.values[0])
    except:
        i += 1
#         print(time)
        
correleated_df = sea_df.iloc[index_list, :] # by index
correleated_df = sea_df.iloc[index_list, :] # by position
correleated_df = sea_df.loc[index_list, :] # by name

NameError: name 'format_time_series' is not defined

In [10]:
# create a pandas series from dictionary
d = {'a': 1, 'b':2, 'c':3}
df = pd.Series(d)
df

a    1
b    2
c    3
dtype: int64

In [11]:
type(df)

pandas.core.series.Series

In [17]:
dates = pd.date_range('today', periods=6) # next 6days include today
num_arr = np.random.randn(6,4)
columns = ['A', 'B', 'C', 'D']
df = pd.DataFrame(num_arr
                 , index = dates
                 , columns = columns)
df

                                   A         B         C         D
2019-12-02 11:17:54.276191 -0.456838  2.123054  1.650861  0.303875
2019-12-03 11:17:54.276191 -0.856987 -2.197508 -0.247828  0.689958
2019-12-04 11:17:54.276191  0.862918 -1.272789  0.848434 -1.071121
2019-12-05 11:17:54.276191  0.286086  0.351504 -0.386569 -0.545750
2019-12-06 11:17:54.276191  0.729580  0.143260 -1.453525  0.038836
2019-12-07 11:17:54.276191 -1.025928 -0.115040 -0.334328  0.133159

In [19]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [26]:
print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [29]:
# search by index [row, column]
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [35]:
# search by column names 
print(df.loc[:, ['animal', 'age']], '\n'*2)
print(df.loc[df.index[[3, 4, 8]], ['animal', 'age']], '\n'*2)
print(df[df['age'] > 3], '\n'*2)

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0


  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0


  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

In [37]:
df[(df['age']>2) & (df['age']>4)]
# 方法二
# df[df['age'].between(2, 4)]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

In [53]:
print(df['age'].mean(), '\n')
print(df.groupby('animal')['age'].mean(), '\n')
# sort the data by age and visits, 
df.sort_values(by=['age', 'visits'], ascending=[False, True])

3.4375

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

## 6.Tricks of using numpy

In [11]:
# Import necessary libraries
import numpy